* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f0f0f;
}

html, body {
  font-family: "Roslindale Display Condensed";
  background: #c6d5c6;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
}

/* .nav-links {
  display: flex;
  font-weight: bold;
} */

.logo, 
.nav-item {
  margin: 2em;
  font-weight: 400;
  font-size: 1.5vw;
  display: flex;
}

.title {
  margin:  -10% 0 0 -44%;
  opacity: 0;
  transform: translateY(100%);
  animation: flyInFromBottom 1s ease-out forwards;
  color: #000; /* Black text */ 
  text-shadow:
      3px 3px 6px rgba(0, 0, 0, 0.3),    /* darker shadow to the bottom right */
      -5px -5px 10px rgba(255, 255, 255, 0.3),  /* lighter shadow to the top left */
      0px 0px 8px rgba(255, 255, 255, 0.062); /* soft white glow to help the text stand out */
}


.animation {  
  transform: translateY(100%);
  animation: flyInFromBottom 1s ease-out forwards;
}
@keyframes flyInFromBottom {
  0% {
    transform: translateY(100%); /* Start from the bottom */
    opacity: 0; /* Start as transparent */
  }
  100% {
    transform: translateY(0); /* End at its natural position */
    opacity: 1; /* Fully visible */
  }
}



h1 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  font-size: 130px;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}

a {
  text-decoration: none;
  font-weight: 500;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #7d877d;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #7d877d;
  transform-origin: top;
}