@font-face {
    font-family: 'Mont-Bold';
    src: url('../../public/font/Mont-Bold.otf') format('opentype');  
}

@font-face {
    font-family: 'Mermaid';
    src: url('../../public/font/Mermaid.ttf') format('opentype');  
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/font/Roboto-Regular.ttf') format('opentype');  
}

.parent-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    height: 100vh;          
    padding: 20px; 
}        

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.headshot {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
    border: 6px solid whitesmoke; 
    margin-left: 80px;
    /* margin-right: 40px; */
}

.headshot:hover {
    filter: none;
}

.about-container { 
    padding: 100px;
    justify-content: center;
    /* text-align: justify; */
    width: 80vw;
    max-width: 600px;        
}

.name {
    font-family: Mermaid;
    font-size: 55px;
    padding-bottom: 7px;
    letter-spacing: 3px;
}

.email {
    font-family: roboto;
    font-size: 22px;
    color: rgb(55, 55, 55);
    padding-bottom: 4px;
}

.bio {
    font-family: roboto;
    font-size: 17px;
    letter-spacing: 1px;
}

.skill-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    gap: 5rem;
    padding: 5px;
}

.skill-languages {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    box-shadow: 
    2px 2px #e0e0e0, 
    4px 4px #d0d0d0, 
    6px 6px #c0c0c0, 
    8px 8px #b0b0b0;
}

.skill-utilities {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    box-shadow: 
    2px 2px #e0e0e0, 
    4px 4px #d0d0d0, 
    6px 6px #c0c0c0, 
    8px 8px #b0b0b0;
}

.skill-interests {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    box-shadow: 
    2px 2px #e0e0e0, 
    4px 4px #d0d0d0, 
    6px 6px #c0c0c0, 
    8px 8px #b0b0b0;
}

.language {
    background-color: rgba(197, 197, 185, 0.796);
    padding: 5px 10px;
    margin: 5px 10px 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
    font-weight: bold;
    letter-spacing: 2px;
  }

.language-label {
    background-color: #bb2649;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 15px;
    margin: 5px 10px 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
}

.contact {
    align-items: center;
    margin-top: 0px;
}

.utility {
    background-color: rgba(197, 197, 185, 0.796);
    padding: 5px 10px;
    margin: 5px 10px 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
    font-weight: bold;
    letter-spacing: 2px;
}

.utility-label {
    background-color: #bb2649;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 15px;
    margin: 5px 10px 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
}