@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.home-title {
  margin-bottom: -10%;
}
/* 
.greetings {
  font-family: "Ubuntu", sans-serif;
  font-size: 23px;
  text-transform: none;
  font-weight: bold;
  text-shadow: none;
  background-color: black;
  padding: 20px;
  color: white;
  overflow: hidden;
  position: relative;
  height: 25px;
}

.system {
  color: rgb(255, 192, 4);
}

.out {
  color: rgb(209, 64, 24);
}

.printIn {
  color: rgb(36, 86, 195);
}

.text-animation {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
  position: absolute; 
  left: 50%;
  /* bottom: 0; */
/* }

.greeting {
    position: relative;
    animation: white-out 5s infinite;
    margin-left: 0;
}

.en {
  color: orange;
}

.es {
  color: white;
}

.it {
  color: rgb(186, 0, 186);
}

.kr {
  color: rgb(1, 195, 221);
}

  @keyframes move {
    25% {
      transform: translatey(-25px);  
      opacity: 1;
    }
    50% {
      transform: translatey(-50px);
    }
    75% {
      transform: translatey(-75px); 
    }
    100% {
      transform: translatey(-100px);
    }
}
 */
